.boardSection {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 450px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;

  &.colored {
    background-color: #eee4da;
  }

  &.move {
    transition: transform 0.2s ease-out;
    transform: scale(1);
  }
}
