@use '/src/styles/constants/colors';

.boardSection {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 450px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  color: colors.$MAIN_FONT;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;

  &.color2 {
    background-color: #eee4da;
  }

  &.color4 {
    background-color: #eee1c9;
  }

  &.color8 {
    background-color: #f3b27a;
  }

  &.color16 {
    background-color: #f69564;
  }

  &.color32 {
    background-color: #f77c5f;
  }

  &.color64 {
    background-color: #f7603c;
  }

  &.color128 {
    background-color: #faf8ef;
  }

  &.color256 {
    background-color: #eecc62;
  }

  &.color512 {
    background-color: #edc950;
  }

  &.move {
    transition: transform 0.2s ease-out;
  }

  &.new {
    z-index: 5;
    animation: scaling 0.3s ease-out;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scale(1);
  }
}
