.boardSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
  height: 500px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}
