@use '/src/styles/constants/colors';
@import '/src/styles/mixins/media';

.gameover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media(tablet, desktop) {
    width: 450px;
    height: 450px;
  }
  @include media(mobile) {
    width: 270px;
    height: 270px;
  }
  background-color: rgba(colors.$WHITE, 0.5);
  border-radius: 5px;

  &.show {
    animation: show 1s;
  }

  .title {
    @include media(tablet, desktop) {
      width: 300px;
      height: 100px;
      font-size: 60px;
      font-weight: 800;
    }
    @include media(mobile) {
      width: 180px;
      height: 60px;
      font-size: 36px;
      font-weight: 600;
    }
    color: colors.$MAIN_FONT;
    text-align: center;
  }

  .button {
    @include media(tablet, desktop) {
      width: 150px;
      height: 50px;
      font-size: 23px;
    }
    @include media(mobile) {
      width: 90px;
      height: 30px;
      font-size: 15px;
    }
    color: colors.$WHITE;
    text-align: center;
    background-color: colors.$MAIN_FONT;
    border-radius: 5px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
