@use '/src/styles/constants/colors';
@import '/src/styles/mixins/media';

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include media(mobile) {
    gap: 6px;
    width: 270px;
    height: 270px;
    padding: 6px;
  }
  @include media(tablet, desktop) {
    gap: 10px;
    width: 450px;
    height: 450px;
    padding: 10px;
  }
  background-color: colors.$PRIMARY;
  border-radius: 5px;
}

.cell {
  @include media(mobile) {
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: 7600;
    line-height: 60px;
  }
  @include media(tablet, desktop) {
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: 700;
    line-height: 100px;
  }
  text-align: center;
  vertical-align: middle;
  background-color: colors.$SECONDARY;
  border-radius: 5px;
}
