@use '/src/styles/constants/colors';

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 450px;
  height: 450px;
  padding: 10px;
  background-color: colors.$PRIMARY;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: colors.$SECONDARY;
  border-radius: 10px;
}
