@use '/src/styles/constants/colors';
@import '/src/styles/mixins/media';

.header {
  display: flex;
  flex-direction: row;
  @include media(mobile) {
    width: 270px;
    height: 66px;
    margin-top: 12px;
  }
  @include media(tablet, desktop) {
    width: 450px;
    height: 110px;
    margin-top: 20px;
  }

  .title {
    flex: 1;
    @include media(mobile) {
      font-size: 36px;
      font-weight: 600;
      line-height: 66px;
    }
    @include media(tablet, desktop) {
      font-size: 60px;
      font-weight: 800;
      line-height: 110px;
    }
    color: colors.$MAIN_FONT;
    text-align: start;
    vertical-align: middle;
  }

  .scoreBoard {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .scoreBox {
      @include media(mobile) {
        width: 60px;
        height: 30px;
        padding: 3px;
      }
      @include media(tablet, desktop) {
        width: 100px;
        height: 50px;
        padding: 5px;
      }
      text-align: center;
      background-color: colors.$SECONDARY;
      border-radius: 5px;

      .scoreTitle {
        @include media(mobile) {
          font-size: 10px;
        }
        @include media(tablet, desktop) {
          font-size: 12px;
        }
        color: colors.$WHITE;
      }

      .score {
        @include media(mobile) {
          padding: 3px;
          font-size: 12px;
        }
        @include media(tablet, desktop) {
          padding: 5px;
          font-size: 18px;
        }
        color: colors.$MAIN_FONT;
      }

      + .scoreBox {
        @include media(mobile) {
          margin-left: 6px;
        }
        @include media(tablet, desktop) {
          margin-left: 10px;
        }
      }
    }
  }
}
