@use '/src/styles/constants/colors';
@import '/src/styles/mixins/media';

.startBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include media(mobile) {
    width: 270px;
    height: 30px;
    margin-bottom: 12px;
  }
  @include media(desktop, tablet) {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }

  .startLeft {
    flex: 1;
  }

  .startRight {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    .startButton {
      @include media(mobile) {
        width: 60px;
        height: 24px;
        font-size: 10px;
      }
      @include media(desktop, tablet) {
        width: 100px;
        height: 40px;
        font-size: 14px;
      }
      color: colors.$SECONDARY;
      background-color: colors.$MAIN_FONT;
      border-radius: 5px;
    }
  }
}
