$BREAKPOINTS: (
  'mobile': 0,
  'tablet': 680px,
  'desktop': 960px,
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($BREAKPOINTS, $key)) {
      @content;
    }
  }
}
